<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <style>
        .button {
            appearance: auto;
            color: buttontext;
            padding-block: 1px;
            padding-inline: 6px;
            border-radius: 10px; /* 테두리 둥글게 */
            border-width: 2px;
            border-style: outset;
            border-color: buttonborder;
            margin: 1px; /* 위아래 여백 1px 추가 */
            text-decoration: none; /* 밑줄 제거 */
            font: 13.3333px Arial
        }
    </style>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username: <input type="text" name="username"/></label>
        </div>
        <div>
            <label>Password : <input type="password" name="password"/></label>
        </div>
        <div>
            <button type="submit" style="border-radius: 10px">Login</button>
            <a th:href="@{/signup}" class="button">Signup</a>
        </div>
    </form>
</body>
</html>
